<body >
    <div>
        <h1>Help</h1>
    </div>
    <br>
    <div>
        <h2>Options for input</h2>
        <div>
            <h3>Click Input</h3>
            <p>Buttons on the calculator can be clicked either on phone or on desktop.</p>
        </div>

        <div>
            <h3>Keyboard Input</h3>
            <p>You can use your keyboard to enter equations into the calculator on desktop.</p>
        </div>

        <div>
            <h3>Voice Input</h3>
            <p>On chromium browsers you can click on the voice input button and input an equation verbally.</p>
        </div>
    </div>

    <div>
        <br>
        <h2>Session History</h2>
        <div>
            <h3>How does it work?</h3>
            <p> After you enter and complete an equation it will be saved in the history section of the sidebar. <br>
                This history clears when your session ends and is not saved for use later. Calculations can be saved <br>
                to your account if you are signed in.
            </p>
        </div>
    </div>

    <div>
        <br>
        <h2>Saved Calculations</h2>
        <div>
            <h3>How does it work?</h3>
            <p>
                If you are signed into your account you will be able to save calculations to your account for later reference. <br>
                These can be found inside the Saved Calculations section of the sidebar.
            </p>
        </div>
    </div>
</body>

<style>
    body{
        background: linear-gradient(to left, #00091dff, #470050ff);
    }

    h1{
        color:white;
    }

    h2 {
        color: white;
    }

    h3 {
        color: white;
    }

    p{
        color: white;
    }

</style>