@model SOE_Calculator_Project.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
<body>
  <div id="login" class="row" >
    <div><h1>Login</h1></div>
    <br />
    <div class="col-md-4">
      <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Username" class="control-label"></label>
          <input asp-for="Username" class="form-control" />
          <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Password" class="control-label"></label>
          <input asp-for="Password" class="form-control" type="password" minlength="5" maxlength="25"/>
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
          <a asp-action="Register">Register an Account</a>
        </div>
        <br>
        <div class="form-group">
          <input type="submit" value="Login" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>

body {
  background: linear-gradient(to left, #00091dff, #470050ff);
}

.row {
  margin: 0;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to Right, #0f172a, #100018ff);
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
}

.logo {
  font-size: 48px;
  margin-bottom: 40px;
}

.login-container {
  width: 100%;
  max-width: 320px;
}

.login-container h1 {
  margin-bottom: 10px;
  font-weight: normal;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background: #222;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #111;
  color: #fff;
  font-size: 16px;
  margin: 12px 0;
  cursor: pointer;
}

button:hover {
  background: #222;
}

.small-link {
  font-size: 12px;
  margin-top: 8px;
  display: block;
  color: #ccc;
  text-decoration: none;
}

.small-link:hover {
  color: #fff;
}
</style>
